name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Compile binaries
        run: |
          bun run compile:amd64
          bun run compile:arm64
          bun run compile:windows
          bun run compile:macos
          bun run compile:macos-arm64

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            discord-honeypot-amd64
            discord-honeypot-arm64
            discord-honeypot-windows
            discord-honeypot-macos
            discord-honeypot-macos-arm64

